<html>

<body>
    <link rel="stylesheet" href="/static/style2.css">
    <img id="Image1" style="display: none;" crossorigin src="/static/images/musicUnmaskedLogo.png"/>
    <canvas id="canvas" width="2200" height="1500"></canvas>
    <script type="text/javascript">
        var link = "{{link}}"
    </script>
    <script src="https://code.jquery.com/jquery-2.1.0.js"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='login.js')}}"></script>

    </script>
</body>
</html>